<textarea name="workoutName" [(ngModel)]="values" rows="13" (blur)="onBlur()">
</textarea>
<h1>{{ values }}</h1>
<ngx-wheel
  [width]="width"
  [height]="height"
  [spinDuration]="spinDuration"
  [items]="items"
  [innerRadius]="50"
  [spinAmount]="10"
  pointerStrokeColor="red"
  pointerFillColor="purple"
  [idToLandOn]="idToLandOn"
  (onSpinStart)="before()"
  (onSpinComplete)="after()"
  #wheel
>
</ngx-wheel>

<button (click)="onGenerateWheel()">Generate</button>
<button (click)="OnPlayWheel()">Play</button>
